h1{
    color:#0A7C5F;
    size: 80px;
}

h3{
    color: #757675;
    size: 40px;
    align-content: center;
    align-items: center;
}

img{
    height: 200;
    width: 200;
}

h2{
    color: black;

}
h5{
    color: black;
}